<!DOCTYPE html>
<html ng-app>
<head>
  <title> Yolloween </title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/nv.d3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body ng-app="scopeExample">
  <div>
    <img src="/assets/images/yolloween.png"></img>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id = "addStreetButton">
      Add a Street to compare
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Place the marker on the map or suggest a street</h4>
          </div>
          <div class="modal-body">
            <div id="map_canvas"></div>
            <input type="email" class="form-control" id="streetInput" placeholder="Suggest a street: e.g. 'Orange Street'">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="updateChart()">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div id="chart">
      <svg></svg>
    </div>
  </div>
</body>

<script src="/javascript/d3.v3.js"></script>
<script src="/javascript/angular.min.js"></script>
<script src="/javascript/nv.d3.min.js"></script>
<script src="/lib/d3.v3.js"></script>
<script src="/src/models/legend.js"></script>
<script src="/src/models/line.js"></script>
<script src="/src/utils.js"></script>
<script src="/javascript/candygraph.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="/javascript/maps.js"></script>
</html>
