<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
</head>

<body>
<div class="centered-pic">
    <img src="<%= picture_path %>">
    <% if (count > 0) { %>
        <span class="badge alert-success super_large_text"><%= count %></span>
    <% } else { %>
        <span class="badge alert-danger super_large_text"><%= -count %></span>
    <% } %>
</div>
</body>
</html>
