<!DOCTYPE html>
<html>
    <head>
        <title> Yolloween | Trick or Treating for Winners </title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/buttons.css">
    </head>

    <!-- Background -->
    <body class="splash_screen">
        <div class="container-fluid">
            <div class="centered-pic">
                <div class="horizontal-center">
                    <!-- Foreground -->
                    <div class="row splash-sect">
                        <img src="/assets/images/yolloween.png"></img>
                    </div>

                    <!-- Cheesy slogan -->
                    <!-- Assign the style such that the slogan is below the foreground -->
                    <div class="row splash-sect">
                        <h3 class="light-text">Trick or Treating for Winners.</h3>
                    </div>

                    <!-- Enter button -->
                    <!-- Assign the style such that the button is below the slogan -->
                    <div class="row splash-sect">
                        <a class="btn btn-large btn-green" href="/home">Enter If You Dare!</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
