<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
</head>

<body>
<div class="centered-pic">
    <img src="/assets/images/yo_checkmark.png">
    <span class="badge"><%= count %></span>
</div>
</body>
</html>
