<html>
<head>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>

<body>
<div class="centered-pic">
    <img src="../assets/images/yo_checkmark.png">
</div>
</body>
</html>
