* {
    margin: 0;
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
}

body.splash_screen {
    background-image: url('/assets/images/splash_screen.jpg');
    background-color: #000000;
}

h1{
    display: inline-block;
}

h3.light-text {
    color: #FEFEFE;
}

a {
    color: #00B7FF;
}

a.clickable-div {
    display: block;
}

div.centered-pic {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.horizontal-center {
    text-align: center !important;
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

div.threefourths-pic {
    -moz-transform:scale(0.75);
    -webkit-transform:scale(0.75);
    transform: scale(0.75);
}

#addStreetButton {
    margin-top: 15px;
    float: right;
    display: inline-block;
}

#addStreetButton img{
    margin-top: 5px;
    margin-right: 10px;
    float: right;
    display: inline-block;
}

#addStreetButton h4{
    float: right;
    display: inline-block;
}

#addStreetButton:hover{
    cursor: pointer; 
    cursor: hand;
}

#brand-icon{
    display: inline-block;
    margin-top: -12px;
    margin-right: -5px;
}


#brand-logo {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    margin-top:3px;
}

#chart svg {
    margin-top: 100px;
    height: 400px;
}

#map_canvas {
    width: 570px;
    height: 400px;
    background-color: #CCC;
}

#streetInput {
    margin-top: 20px;
}

.super_large_text {
    font-size: 500% !important;
}

.navbar-fixed-top {
 border-top: 8px solid #FF6600 !important;
}

.wrapper {
    min-height: 100%;
    margin-bottom:-30px; /* the bottom margin is the negative value of the footer's height */
}

.wrapper:after {
  content: "";
  display: block;
}

.footer, .wrapper:after {
  height: 30px;
}

.footer {
  background: orange;
  background-color: #e7e7e7;
  color: gray;
  border-bottom: 8px solid #733D4B !important;
}

.footer p {
    float: right;
    margin-right: 20px;
}

.footer a{
    color: inherit;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.footer a:hover{
    color: black;
}

div.splash-sect {
    margin: 15px !important;
    padding: 5px !important;
}
