body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

div.centered-pic {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.horizontal-center {
    text-align: center !important;
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

div.threefourths-pic {
    -moz-transform:scale(0.75);
    -webkit-transform:scale(0.75);
    transform: scale(0.75);
}

h1{
    display: inline-block;
}


#streetInput {
    margin-top: 20px;
}

#chart svg {
    height: 400px;
}

#map_canvas {
    width: 570px;
    height: 400px;
    background-color: #CCC;
}

#addStreetButton {
    float: right;
    display: inline-block;
}

.super_large_text {
    font-size: 500% !important;
}

body.splash_screen {
    background-image: url('/assets/images/splash_screen.jpg');
    background-color: #000000;
}

h3.light-text {
    color: #FEFEFE;
}

a.clickable-div {
    display: block;
}

div.splash-sect {
    margin: 15px !important;
    padding: 5px !important;
}