body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

img.centered-pic {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chart svg {
	height: 400px;
}

#map_canvas {
	width: 570px;
	height: 400px;
	background-color: #CCC;
}

h1{
	display: inline-block;
}

#addStreetButton {
	float: right;
	display: inline-block;
}
>>>>>>> Stashed changes
